<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.multisaloon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splashlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiSaloon"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WebActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".AppoinmentsActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".StylishActivity"
            android:exported="false" />
        <activity
            android:name=".StylistsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewSaloonActivity"
            android:exported="false" />
        <activity
            android:name=".SaloonActivity"
            android:exported="false" />
        <activity
            android:name=".PackageActivity"
            android:exported="false" />
        <activity
            android:name=".IpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>